{% extends 'base.html' %}

{% block pagename %}Магазин{% endblock %}

{% block content %}
    <h2>Магазин</h2>
    <p>Это страница магазина.</p>
    <ul>
        <li>
            <h3>Atomic Heart</h3>
            <p>Цена: $59.99</p>
            <a href="#" class="btn btn-primary">Купить</a>
        </li>
        <li>
            <h3>Cyberpunk 2077</h3>
            <p>Цена: $49.99</p>
            <a href="#" class="btn btn-primary">Купить</a>
        </li>
        <li>
            <h3>PayDay</h3>
            <p>Цена: $29.99</p>
            <a href="#" class="btn btn-primary">Купить</a>
        </li>
    </ul>
{% endblock %}